services:
  - type: web
    name: land-registry-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MongoURI
        sync: false
      - key: JWT_SECRET
        sync: false
